.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-auto-flow: dense; /* either use 'dense' or 'row': 'dense' is the best */
}

/* can create classes to control image sizes using 'grid-column' and 'span' */
.horizontal {
    grid-column: span 2; 
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}