/* using 'autofit' and 'minmax()' can create mobile responsive design */
/* using 'grid-auto-rows' to create 100px rows implicitly as they are created */

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px; 
}

